@custom-selector :--heading h1, h2, h3, h4;

html {
  font-family: system-ui, sans-serif;
  background: rgb(var(--accent-light));
}

*,
body {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Inter Variable", sans-serif;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

:--heading {
  font-family: "Press Start 2P", system-ui;
  text-transform: uppercase;
}

/*:--heading:hover {
  font-family: 'Inter', system-ui;
}*/

h1 {
  font-size: var(--font-size-8);
  font-weight: var(--font-weight-8);
  line-height: var(--font-lineheight-0);
  text-align: center;
  margin-block-end: var(--size-3);
}

h2 {
  font-size: var(--font-size-2);
  margin-block-end: var(--size-7);
}

p {
  font-size: var(--font-size-1);
}

main {
  inline-size: 100%;
  color: rgb(var(--accent-dark));
  font-size: var(--font-size-4);
  line-height: 1.6;
  /* border: 1px solid rgb(var(--accent-dark)); */
}

section {
  min-block-size: 100vh;
  max-inline-size: 100vw;
  display: flex;
  place-content: center;
}

.container {
  margin: auto;
  padding: var(--size-3);
  inline-size: 1024px;
  max-inline-size: calc(100% - 2rem);
  block-size: 100%;
  /* border: 1px dashed green; */
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  gap: 2rem;
}

/* Tiny screen */
/* @media screen and (width <= 400px) { */
@media screen and (max-width: 400px) {
  main {
    font-size: 16px;
  }

  .container {
    max-inline-size: calc(100% - 1rem);
  }

  h1 {
    font-size: var(--font-size-5);
  }

  h2 {
    font-size: var(--font-size-0);
  }
}

/* Small screen */
/* @media screen and ( 400px > width <= 600px) { */
@media screen and (max-width: 600px) and (min-width: 400px) {
  main {
    font-size: var(--font-size-0);
  }

  .container {
    max-width: calc(100% - 1rem);
  }

  h1 {
    font-size: var(--font-size-6);
  }

  h2 {
    font-size: var(--font-size-0);
    line-height: var(--font-lineheight-0);
  }
}
