---
import BlogLayout from "../layouts/BlogLayout.astro";
import BlogList from "../components/BlogList.astro";
import "../styles/blog.css";
---

<BlogLayout title="Blog">
  <main>
    <section class="blogs-container container">
      <h1>Blog</h1>
      <BlogList />
    </section>
  </main>
</BlogLayout>
