---
import IndexLayout from "../layouts/IndexLayout.astro";
---

<IndexLayout>
  <section class="hero">
    <div class="container">
      <div class="hero-content">
        <h1>Ahmed is a flexible fullstack developer</h1>
      </div>
    </div>
    <div class="box-container"></div>
  </section>
  <section>
    <div class="container">
      <h2>Selected Projects</h2>
      <ul class="projects">
        <li>
          <div>
            <a href="https://nibble.ahmedatigui.com/">
              <h3>(1) Nibble</h3>
              <span>→</span>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="https://ote.ahmedatigui.com/">
              <h3>(2) Ote</h3>
              <span>→</span>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="https://sage.ahmedatigui.com/">
              <h3>(3) Sage</h3>
              <span>→</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </section>
</IndexLayout>
<section>
  <div class="container">
    <div class="content">
      <div class="info-list">
        <div class="tech">
          <h2>[x] Tech</h2>
          <div>
            <ul>
              <li><span>Typescript</span></li>
              <li><span>React/Next</span></li>
              <li><span>Astro</span></li>
              <li><span>Tailwind</span></li>
            </ul>
            <ul>
              <li><span>Node</span></li>
              <li><span>Express/Hapi</span></li>
              <li><span>Postgres</span></li>
              <li><span>Docker</span></li>
            </ul>
          </div>
        </div>
        <div class="contact">
          <h2>[x] Contact</h2>
          <div>
            <ul>
              <li><a href="https://github.com/ahmedatigui/">Github</a></li>
              <li><a href="https://x.com/ahmedatigui">X / Twitter</a></li>
              <li><a href="/rss.xml">rss</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text">
        <p>
          Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit
          enim labore culpa sint ad nisi Lorem pariatur mollit ex esse
          exercitation amet. Nisi anim cupidatat excepteur officia.
          Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate
          voluptate dolor minim nulla est proident. Nostrud officia pariatur ut
          officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit
          commodo officia dolor Lorem duis laboris cupidatat officia voluptate.
          Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis
          officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis
          sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea
          consectetur et est culpa et culpa duis.
        </p>
      </div>
    </div>
  </div>
</section>
