---




---


<header>
  <div class="header-container">
    <div>
      <span>Logo</span>
    </div>
    <nav>
      <ul class="nav-container">
        <li>Blog</li>
        <li>Theme</li>
      </ul>
    </nav>
  </div>
</header>

